<%= form_with(model: user_follow, local: true) do |form| %>
  <% if user_follow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_follow.errors.count, "error") %> prohibited this user_follow from being saved:</h2>

      <ul>
      <% user_follow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id_follow_id %>
    <%= form.text_field :user_id_follow_id, id: :user_follow_user_id_follow_id %>
  </div>

  <div class="field">
    <%= form.label :user_id_id %>
    <%= form.text_field :user_id_id, id: :user_follow_user_id_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
