<%= form_with(model: manage, local: true) do |form| %>
  <% if manage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manage.errors.count, "error") %> prohibited this manage from being saved:</h2>

      <ul>
      <% manage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :manage_user_id %>
  </div>

  <div class="field">
    <%= form.label :user_manager_id %>
    <%= form.number_field :user_manager_id, id: :manage_user_manager_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
